html{
    box-sizing: border-box;
}
* , *::before , *::after{
    box-sizing: inherit;
}
:root{
    --huecorrect: 150;
    --huewrong: 0;
    --hueneutral:230;
}


body{
    --hue:var(--hueneutral);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue),100%, 20%);

}
body.correct{
    --hue: var(--huecorrect);
}
body.wrong{
    --hue: var(--huewrong);
}
#name{
    padding: 0.5rem;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px ;
    width: 600px;
    max-width: 80%;
}
.options{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
}
.btn{
    --hue: var(--hueneutral);
    padding: 0.5rem;
    width: 100%;
    color: white;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: hsl(var(--hue), 100%, 50%);
}
.answer-btn.correct{
    background-color: hsl(var(--huecorrect), 100%, 50%);
}
.answer-btn.wrong{
    background-color: hsl(var(--huewrong), 100%, 50%);
}
.btn:hover{
    border: 1px black solid;
}
.result-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hide{
    display: none;
}
